{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3" style="text-align: center;">Academia de emprendimiento Vivel</h1>
                    
                    <!-- <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a> -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class=" bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'image/motivacion.jpg' %}"
                    alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Nuestra filosofía</h2>
                <p class="lead fw-normal text-muted mb-0" style="text-align: justify;">Creemos firmemente que el talento se encuentra en todo aquel que se atreve a esforzarse por descubrirlo; también creemos que a través de emprendimientos de alto valor podemos cambiar al mundo, es por ello que nuestra pasión es potenciar los grandes proyectos..</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                    src="{% static 'image/compartir_cono.png' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">¿Quiénes somos?</h2>
                <p class="lead fw-normal text-muted mb-0" style="text-align: justify;">Somos una comunidad que impulsa y acompaña a los emprendedores en su camino de desarrollo. No sólo brindamos herramientas necesarias para tener éxito en los negocios, sino que creamos un ecosistema en el que emprendedores y aliados se puedan hacer más fuertes.</p>
            </div>
        </div>
    </div>
</section>

<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Nuestro equipo</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y a su éxito</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            {% for mentore in mentores %}
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{{ mentore.imgconsultor.url }}" alt="{{ mentore.nombre }}" />
                    <h5 class="fw-bolder">{{ mentore.nombre }}</h5>
                    <div class="fst-italic text-muted">{{ mentore.descripcion_breve }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}