{% extends 'base.html' %}
{% load static %}
        {% block content %}




        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">Estas a un paso de obtenerlo</h1>
                            </header>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 text mb-4" style="text-align: justify;">Lo que tienes que hacer para poder acceder al curso necesitas realizar los pasos siguientes :
                                </p>
                                <ul class="list-group fs-5 m-5">
                                    <li class="list m-2" style="text-align: justify;">Mandarnos mensaje en WhatsApp con tu nombre completo</li>
                                    <li class="list m-2" style="text-align: justify;">Recibir la información de pago por medio de WhatsApp
                                    </li>
                                    <li class="list m-2" style="text-align: justify;">Seguir todo el procedimiento via WhatsApp.</li>
                                    <li class="list m-1" style="text-align: justify;">Disfrutar del curso
                                    </li>
                                    
                                    <div class="text-center"> <!-- Added this wrapper div -->
                                        <a class="btn btn-success" href="https://wa.me/XXXXXXXXXX" target="_blank" rel="noopener noreferrer">
                                            <i class="bi bi-whatsapp"></i> Contactar por WhatsApp
                                        </a>
                                    </div>
                                </ul>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        {% endblock%}