{% extends 'base.html' %}


{% block content %}

<header class="py-5" id="nav_bar2">
    <div class="container px-5 ">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ course.titulo }}</h1>
                    <p class="lead fw-normal text-white-50 mb-4">{{ course.descripcionBrebe}}</p>

                </div>
            </div>
            <div class="col-xl-5 col-xxl-6  text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="{{ course.video }}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">¿A quién va dirigido?</h1>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        <ul>
                            <li>
                                <p class="fs-5 text mb-4" >{{ course.dirigido_a_1 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.dirigido_a_2 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.dirigido_a_3 }}</p>
                            </li>
                        </ul>
                    </section>
                </article>

                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Modulos</h1>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        <ul>
                            <li>
                                <p class="fs-5 text mb-4" >{{ course.modulo }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.modulo2 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.modulo3 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.modulo4 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.modulo5 }}</p>
                            </li>
                            <li>
                                <p class="fs-5 mb-4" style="text-align: justify;">{{ course.modulo6 }}</p>
                            </li>
                           
                        </ul>
                    </section>
                </article>
            </div>

        </div>
    </div>
</section>

{% endblock %}